:root {
  --primary-dark: #2e2f42;
  --primary-text: #434455;
  --secondary-buttons: #e7e9fc;
  --brand-color: #4d5ae5;
  --background-light: #f4f4fd;
  --active-state: #404bbf;
  --icon-color: #8e8f99;
  --active-icon-color: #31d0aa;
  --primary-font-size: 16px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-background: #fcfcfc;
  --modal-form-text: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
  font-size: var(--primary-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
      max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
      max-width: 1158px;
  }
}
/* header */
.header {
  border-bottom: 1px solid var(--secondary-buttons);
}
.header-content {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-content {
      display: flex;
  }
}

.logo {
  color: var(--primary-dark);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-item {
  color: var(--brand-color);
}
.nav-menu {
  display: flex;
  align-items: center;
}



.navigation-list {
  font-weight: 500;
  font-size: var(--primary-font-size);
  display: flex;
  gap: 40px;
  margin-left: 120px;
}

@media screen and (min-width: 1200px) {
  .navigation-list {
      margin-left: 76px;
  }
}

.navigation-list-link:hover,
.contacts-list-link:hover,
.navigation-list-link:focus,
.contacts-list-link:focus {
  color: var(--active-state);
  outline: none;
}
.active-link.link-studio {
  color: var(--active-state);
  position: relative;
}
.active-link::after {
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--active-state);
  display: block;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts-list {
  font-size: var(--primary-font-size);
  font-style: normal;
}


@media screen and (min-width: 1200px) {
  .contacts-list {
      display: flex;
      gap: 40px;
  }
}

.navigation-list-link {
  color: var(--primary-dark);
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms var(--timing-function);
}

.contacts-list-link {
  color: var(--primary-text);
  transition: color 250ms var(--timing-function);
}

/* mobile-header */

.mobile-container-header {
  padding: 24px 15px;
}

@media screen and (min-width: 768px) {
  .mobile-container-header {
      display: none;
  }
}

.mobile-container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-container-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.mobile-container-svg {
  width: 32px;
  height: 22px;
}

.container-mobile-hamburger {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
  overflow-y: scroll;
  z-index: 2;
  transition: transform 250ms var(--timing-function);
}

.container-mobile-hamburger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--secondary-buttons);
  fill: #000;
}

.container-mobile-hamburger.is-open {
  transform: translateX(0);
}

.container-mobile-hamburger-nav-menu {
  margin-bottom: auto;
}

.container-mobile-hamburger-navigation-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.container-mobile-hamburger-navigation-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  display: block;
  color: var(--primary-dark);
}

.active-link-hamburger.container-mobile-hamburger-navigation-list-link {
  color: var(--active-state);
}

.hamburger-contacts {
  margin-bottom: 48px;
}

.hamburger-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hamburger-contacts-list-link {
  display: block;
  font-style: normal;
}

.hamburger-contacts-list-link.tel {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.111;
  color: var(--brand-color);
}

@media screen and (min-width: 420px) {
  .hamburger-contacts-list-link.tel {
    font-size: 36px;
  }
}

.hamburger-contacts-list-link.email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text);
}

.hamburger-socials-container {
}

.hamburger-socials-list {
  display: flex;
}

@media screen and (max-width: 420px) {
  .hamburger-socials-list {
    justify-content: space-between;
  }
}

@media screen and (min-width: 420px) {
  .hamburger-socials-list {
    gap: 56px;
  }
}

.hamburger-socials-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  fill: #fff;
  background-color: var(--brand-color);
}

.hamburger-socials-icon {
  width: 24px;
  height: 24px;
}

/* main */

/* section-1 */
.main-section {
  background-color: var(--primary-dark);
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 1),
  screen and (min-width: 768px) and (min-resolution: 96dpi),
  screen and (min-width: 768px) and (min-resolution: 1dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 1),
  screen and (min-width: 1200px) and (min-resolution: 96dpi),
  screen and (min-width: 1200px) and (min-resolution: 1dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.main-section-heading {
  text-align: center;
  color: #fff;
  line-height: 1.111;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .main-section-heading {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section-heading {
    margin-bottom: 48px;
  }
}

.main-section-button {
  background-color: var(--brand-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms var(--timing-function);
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.main-section-button:hover,
.main-section-button:focus {
  background-color: var(--active-state);
}
/* section-2 */
.about-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .about-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 767px) {
  .about-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

.about-list-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .about-list-item {
    width: calc((100% - 72px) / 4);
  }
}

.about-conteiner {
  height: 112px;
  border-radius: 4px;
  background-color: var(--background-light);
  margin-bottom: 8px;
  display: none;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .about-conteiner {
    display: flex;
  }
}

.about-conteiner-icon {
  width: 64px;
  height: 64px;
}

.about-section-heading {
  color: var(--primary-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .about-section-heading {
      text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .about-section-heading {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
  }
}

.about-section-text{
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .about-section-text {
      font-weight: 400;
  }
}
/* section-3 */
.specification-section {
  padding-bottom: 120px;
  display: none;
}

@media screen and (min-width: 1200px){
  .specification-section{
    display: block;
  }
}

.specification-list {
  display: flex;
  gap: 24px;
}

.specification-section-heading {
  color: var(--primary-dark);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

/* section-4 */

.workers-section {
  background-color: var(--background-light);
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

@media screen and (min-width: 1200px){
  .workers-section{
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.workers-section-heading {
  color: var(--primary-dark);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  font-weight: 700;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px){
  .workers-section-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 64px 24px;
  }
}

.workers-section-item-heading {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.workers-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
    display: inline-block;
}

@media screen and (max-width: 767px){
  .workers-list-item:not(:last-child){
   margin-bottom: 72px;
  }
}


.workers-section-text-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 8px;
}

.images {
  display: block;
}

.worker-section-icon {
  width: 16px;
  height: 16px;
  fill: var(--background-light);
}

.workers-section-list-item {
  width: 40px;
  height: 40px;
}

.workers-section-icon-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.workers-section-list-link {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.workers-section-icon-link:hover,
.workers-section-icon-link:focus {
  background-color: var(--active-state);
}

/* section 5  */
.aside-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .aside-section{
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.aside-section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-dark);
  margin-bottom: 72px;
}

.aside-section-list {
  display: flex;
  justify-content: center;
  gap: 72px 16px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .aside-section-list{
  gap: 72px 24px;
  }
}

.aside-section-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media screen and (min-width: 768px) {
  .aside-section-list-item {
      width: 168px;
  }
}

.aside-section-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.aside-section-list-icon {
  width: 104px;
  height: 56px;
}
.aside-section-list-link:hover,
.aside-section-list-link:focus {
  fill: var(--active-state);
  border-color: var(--active-state);
}

/* footer */
.footer-container {
  background-color: var(--primary-dark);
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .footer-container{
    padding-top: 100px;
  padding-bottom: 100px;
  }
}

.footer-wraper {
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer-wraper {
      flex-direction: column;
      gap: 72px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer-wraper {
      gap: 72px 24px;
      flex-wrap: wrap;
      width: 552px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container-socials {
      margin-left: 120px;
  }
}

.logo-footer {
  color: var(--background-light);
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}


@media screen and (max-width: 767px) {
  .footer-container-logo {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
}

.footer-paragraf {
  color:var(--background-light);
  margin-top: 16px;
  width: 264px;
  display: inline-block;
}


.footer-container-subtitle {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .footer-container-subtitle {
   text-align: center;
  }
}


.footer-container-socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-container-socials-list-item {
  width: 40px;
  height: 40px;
}

.footer-container-socials-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--background-ligh);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.footer-container-socials-list-icon {
  width: 24px;
  height: 24px;
  fill: var(--background-light);
}

.footer-container-socials-list-link:focus,
.footer-container-socials-list-link:hover {
  background-color: var(--active-icon-color);
}

@media screen and (min-width: 1200px) {
  .footer-container-form {
    margin-left: 80px;
  }
}


.footer-form-title {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}


@media screen and (max-width: 767px) {
  .footer-form-title {
   text-align: center;
  }
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .footer-form {
      flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
      gap: 24px;
  }
}

.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: var(--primary-dark);
  color: #fff;
  outline: none;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
      width: 264px;
  }
}

.footer-form-input::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  margin-left: 24px;
  border-radius: 4px;
  background-color: var(--brand-color);
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  border: none;
  color: #fff;
  transition: background-color 250ms var(--timing-function);
  cursor: pointer;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--active-state);
}
/* page-2 */
.buttons-list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.buttons-list-item {
  background-color: var(--background-light);
  border: none;
  color: var(--brand-color);
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid var(--secondary-buttons);
  border-radius: 4px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.portfolio-heading {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.buttons-list-item:hover,
.buttons-list-item:focus {
  color: #fff;
  background-color: var(--active-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--active-state);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item-text-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--secondary-buttons);
  border-top: none;
}

.portfolio {
  padding-bottom: 120px;
  padding-top: 96px;
}
.portfolio-subtitle {
  color: var(--primary-text);
}
.portfolio-list-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  background-color: var(--brand-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  padding: 40px 32px;
}
.portfolio-thumb:hover .portfolio-overlay {
  transform: translateY(0%);
}
.portfolio-overlay-text {
  color: var(--background-light);
}

/* modal  */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.modal {
  height: 600px;
  max-width: 392px;
  max-height: 90vh;
  position: absolute;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
  padding: 72px 25px 24px 23px;
  overflow-y: scroll;
}

@media screen and (max-width: 320px) {
  .modal {
      width: calc(100% - 2 * 15px);
  }
}

@media screen and (min-width: 768px) {
  .modal {
      max-width: 408px;
  }
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--secondary-buttons);
  fill: #000;
  cursor: pointer;
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.modal-button:hover,
.modal-button:focus {
  fill: #fff;
  background-color: var(--active-state);
  border: none;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal-title {
  font-weight: 500;
  color: var(--primary-dark);
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.modal-form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--icon-color);
  position: relative;
}

.modal-form-input {
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 38px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-input:focus {
  border-color: var(--brand-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--brand-color);
}

.modal-form-icon {
  color: var(--primary-dark);
  position: absolute;
  top: 26px;
  left: 16px;
  transition: fill 250ms var(--timing-function);
}

.modal-form-input.first {
  letter-spacing: 0.04em;
}

.modal-form-input.comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-form-input.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-check {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--modal-form-text);
  cursor: pointer;
}

.modal-form-label-check-input {
  appearance: none;
}

.modal-form-label-check-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  fill: #fff;
}

.modal-form-label-check-input:checked + .modal-form-label-check-checkbox {
  background-color: var(--active-state);
  border: 1.25px solid var(--active-state);
}

.modal-form-check-link {
  color: var(--brand-color);
  margin-left: 4px;
}

.modal-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.modal-form-button:focus,
.modal-form-button:hover {
  background-color: var(--active-state);
}
