:root {
  --primary-dark: #2e2f42;
  --primary-text: #434455;
  --secondary-buttons: #e7e9fc;
  --brand-color: #4d5ae5;
  --background-light: #f4f4fd;
  --active-state: #404bbf;
  --icon-color: #8e8f99;
  --active-icon-color: #31d0aa;
  --primary-font-size: 16px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-background: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
  font-size: var(--primary-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  border-bottom: 1px solid var(--secondary-buttons);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--primary-dark);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-item {
  color: var(--brand-color);
}
.nav-menu {
  display: flex;
  align-items: center;
}

.navigation-list {
  font-weight: 500;
  font-size: var(--primary-font-size);
  display: flex;
  margin-left: 76px;
  gap: 40px;
}
.navigation-list-link:hover,
.contacts-list-link:hover,
.navigation-list-link:focus,
.contacts-list-link:focus {
  color: var(--active-state);
  outline: none;
}
.active-link.link-studio {
  color: var(--active-state);
  position: relative;
}
.active-link::after {
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--active-state);
  display: block;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.contacts-list {
  font-size: var(--primary-font-size);
  font-style: normal;
  display: flex;
  margin-left: auto;
  gap: 40px;
  align-items: center;
}
.navigation-list-link {
  color: var(--primary-dark);
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms var(--timing-function);
}

.contacts-list-link {
  color: var(--primary-text);
  transition: color 250ms var(--timing-function);
}
/* main */

/* section-1 */
.main-section {
  background-color: var(--primary-dark);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/work-space.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}
.main-section-heading {
  text-align: center;
  color: #fff;
  line-height: 1.07;
  font-size: 56px;
  margin-bottom: 48px;
}
.main-section-button {
  background-color: var(--brand-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms var(--timing-function);
}
.main-section-button:hover,
.main-section-button:focus {
  background-color: var(--active-state);
}
/* section-2 */
.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-list-item {
  width: calc((100% - 72px) / 4);
}
.about-section-heading {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.about-conteiner {
  height: 112px;
  border-radius: 4px;
  background-color: var(--background-light);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-conteiner-icon {
  width: 64px;
  height: 64px;
}
/* section-3 */
.specification-section {
  padding-bottom: 120px;
}
.specification-list {
  display: flex;
  gap: 24px;
}
.specification-section-heading {
  color: var(--primary-dark);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

/* section-4 */

.workers-section {
  background-color: var(--background-light);
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.workers-section-heading {
  color: var(--primary-dark);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.workers-section-list {
  display: flex;
  margin-top: 72px;
  gap: 24px;
}
.workers-section-item-heading {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.workers-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}
.workers-section-text-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 8px;
}
.images {
  display: block;
}
.worker-section-icon {
  width: 16px;
  height: 16px;
  fill: var(--background-light);
}
.workers-section-list-item {
  width: 40px;
  height: 40px;
}
.workers-section-icon-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.workers-section-list-link {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.workers-section-icon-link:hover,
.workers-section-icon-link:focus {
  background-color: var(--active-state);
}

/* section 5  */
.aside-section {
  padding-top: 130px;
  padding-bottom: 120px;
}
.aside-section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-dark);
  margin-bottom: 72px;
}
.aside-section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.aside-section-list-item {
  width: 168px;
  height: 88px;
}
.aside-section-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.aside-section-list-icon {
  width: 104px;
  height: 56px;
}
.aside-section-list-link:hover,
.aside-section-list-link:focus {
  fill: var(--active-state);
  border-color: var(--active-state);
}

/* footer */
.footer-container {
  background-color: var(--primary-dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: var(--background-light);
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-paragraf {
  color: var(--secondary-buttons);
  margin-top: 16px;
  width: 264px;
}
.footer-wraper {
  display: flex;
}
.footer-container-socials {
  margin-left: 120px;
}
.footer-container-subtitle {
  color: #fff;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.footer-container-socials-list {
  display: flex;
  gap: 16px;
}
.footer-container-socials-list-item {
  width: 40px;
  height: 40px;
  fill: var(--background-light);
}
.footer-container-socials-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--background-ligh);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}
.footer-container-socials-list-icon {
  width: 24px;
  height: 24px;
}
.footer-container-socials-list-link:focus,
.footer-container-socials-list-link:hover {
  background-color: var(--active-icon-color);
}
/* page-2 */
.buttons-list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.buttons-list-item {
  background-color: var(--background-light);
  border: none;
  color: var(--brand-color);
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid var(--secondary-buttons);
  border-radius: 4px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.portfolio-heading {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.buttons-list-item:hover,
.buttons-list-item:focus {
  color: #fff;
  background-color: var(--active-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--active-state);
}
.hiden-name {
  display: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item-text-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--secondary-buttons);
  border-top: none;
}

.portfolio {
  padding-bottom: 120px;
  padding-top: 96px;
}
.portfolio-subtitle {
  color: var(--primary-text);
}
.portfolio-list-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  background-color: var(--brand-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  padding: 40px 32px;
}
.portfolio-thumb:hover .portfolio-overlay {
  transform: translateY(0%);
}
.portfolio-overlay-text {
  color: var(--background-light);
}

/* modal  */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.modal {
  width: 100%;
  height: 100%;
  max-width: 408px;
  max-height: 576px;
  position: relative;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--secondary-buttons);
  fill: #000;
  cursor: pointer;
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.modal-button:hover,
.modal-button:focus {
  fill: #fff;
  background-color: var(--active-state);
  border: none;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}
